
.hoja .swiper-container {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background: rgba(50,50,60,1);
}
.principal .swiper-container {
    display: block;
    width: 100%;
    padding: 0px 10px 10px 10px;
    background: rgba(50,50,60,1);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}
.swiper-wrapper .swiper-slide {
    display: block;
    background-position: center;
    background-size: cover;
    height: 280px;
    width: 200px;
}
.swiper-container .swiper-button-next {
    background: rgba(34, 112, 147, 0);
    border: 1px solid rgba(255,255,255,0);
    
}
.swiper-container .swiper-button-prev {
    background: rgba(34, 112, 147, 0);
    border: 1px solid rgba(255,255,255,0);
}

@media screen and (max-width: 768px) {
    
    .swiper-wrapper .swiper-slide {
    display: block;
    background-position: center;
    background-size: cover;
    height: 240px;
    width: 170px
}
    .swiper-container .swiper-button-next {
        display: none;
    }
    .swiper-container .swiper-button-prev {
        display: none;
    }
}